html {
  background-color: #191919;
}
.border-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}
.border-wrapper .border {
  width: 16.6%;
  height: 100%;
  position: relative;
  display: inline-block;
  border-right: 1px solid #2b2b2b;
}
.nav-placeholder .logo {
  position: fixed;
  left: 30px;
  top: 20px;
}
.nav-placeholder .logo img {
  width: 50px;
  height: 40px;
}
.nav-placeholder .mobile-nav {
  position: fixed;
  right: 30px;
  top: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  z-index: 997;
  justify-content: center;
  align-content: center;
  opacity: 1;
}
.nav-placeholder .mobile-nav span {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 5px;
}
.nav-placeholder .mobile-nav span:nth-child(1) {
  top: 10px;
  width: 30px;
  position: absolute;
  height: 3px;
  background: white;
}
.nav-placeholder .mobile-nav span:nth-child(2) {
  transform-origin: right center;
  top: 20px;
  width: 20px;
  margin-left: 5px;
  position: absolute;
  height: 3px;
  background: white;
}
.nav-placeholder .mobile-nav span:nth-child(3) {
  top: 30px;
  width: 30px;
  position: absolute;
  height: 3px;
  background: white;
}
.nav-placeholder .mobile-nav:hover span:nth-child(2) {
  transform-origin: right center;
  top: 20px;
  width: 30px;
  margin-left: 0px;
  position: absolute;
  height: 3px;
  background: white;
}
.main-hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.main-hero img {
  width: 500px;
  height: 500px;
  display: flex;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-self: center;
}
.main-hero .hero-title {
  width: 500px;
  height: 100px;
  left: -30%;
  bottom: -10%;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
}
.main-hero .hero-title h1 {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  letter-spacing: 4px;
}
.main-hero .hero-title p {
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2.5px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 20px;
}
.scroll-next {
  width: auto;
  height: 180px;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}
.scroll-next span {
  width: 1px;
  height: 100px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.scroll-next h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: white;
  transform-origin: center;
  transform: rotate(90deg);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 10px 0 0;
  padding-top: 0!important;
}
.works {
  padding-top: 150px;
}
.works .work-intro {
  width: auto;
  margin: 0 0 10% 18%;
}
.works .work-intro h1 {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.works .work-intro p {
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 20px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
