html {
  background-color: #191919;
}
.border-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}
.border-wrapper .border {
  width: 16.6%;
  height: 100%;
  position: relative;
  display: inline-block;
  border-right: 1px solid #414141;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  animation: bordergrow 5s;
  animation-direction: alternate-reverse;
}
@keyframes bordergrow {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
.nav-placeholder .logo {
  position: fixed;
  left: 30px;
  top: 20px;
  z-index: 997;
}
.nav-placeholder .logo img {
  width: 40px;
  height: 35px;
}
@media (max-width: 500px) {
  .nav-placeholder .logo img {
    width: 30px;
    height: 25px;
  }
}
.nav-placeholder .mobile-nav {
  position: fixed;
  right: 30px;
  top: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  z-index: 997;
  justify-content: center;
  align-content: center;
  opacity: 1;
}
.nav-placeholder .mobile-nav span {
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
}
.nav-placeholder .mobile-nav span:nth-child(1) {
  top: 10px;
  width: 30px;
  position: absolute;
  height: 3px;
  background: white;
}
.nav-placeholder .mobile-nav span:nth-child(2) {
  transform-origin: right center;
  top: 20px;
  width: 20px;
  margin-left: 5px;
  position: absolute;
  height: 3px;
  background: white;
}
.nav-placeholder .mobile-nav span:nth-child(3) {
  top: 30px;
  width: 30px;
  position: absolute;
  height: 3px;
  background: white;
}
.nav-placeholder .mobile-nav:hover span:nth-child(2) {
  transform-origin: right center;
  top: 20px;
  width: 30px;
  margin-left: 0px;
  position: absolute;
  height: 3px;
  background: white;
}
.main-hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.main-hero img {
  width: 500px;
  height: 500px;
  filter: grayscale(100%);
  display: flex;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-self: center;
  opacity: 1;
  transition: 0.3s ease-in-out;
  animation: heroimg 3s ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes heroimg {
  from {
    bottom: 0;
  }
  to {
    bottom: -8%;
  }
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main-hero img:hover {
  transition: 0.3s ease-in-out;
  filter: grayscale(0%);
}
.main-hero .hero-title {
  width: 500px;
  height: 100px;
  left: -30%;
  bottom: -10%;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  animation: herotitle 3s ease-in-out;
  animation-direction: alternate-reverse;
  opacity: 1;
}
@keyframes herotitle {
  from {
    bottom: -10%;
  }
  to {
    bottom: 2%;
  }
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 500px) {
  .main-hero .hero-title {
    width: 300px;
    left: 0%;
  }
}
.main-hero .hero-title h1 {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  letter-spacing: 4px;
}
@media (max-width: 500px) {
  .main-hero .hero-title h1 {
    font-size: 1rem;
  }
}
.main-hero .hero-title p {
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2.5px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .main-hero .hero-title p {
    font-size: 0.8rem;
    line-height: 25px;
  }
}
.main-hero .main-btn {
  width: 40%;
  background: #191919;
  border: 1px solid #414141;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  color: #414141;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media (max-width: 500px) {
  .main-hero .main-btn {
    width: 50%;
    padding: 15px 20px 15px 20px;
  }
}
.main-hero .main-btn:hover {
  transition: 0.5s ease-in-out;
  border: 1px solid white;
  background: white;
  color: #191919;
}
.scroll-next {
  width: auto;
  height: 180px;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}
.scroll-next span {
  width: 1px;
  height: 100px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.scroll-next h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: white;
  transform-origin: center;
  transform: rotate(90deg);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 10px 0 0;
  padding-top: 0!important;
}
.works {
  padding-top: 150px;
  position: relative;
  border-top: 1px solid #414141;
  border-bottom: 1px solid #414141;
}
@media (max-width: 500px) {
  .works {
    padding-top: 50px;
  }
}
.works .work-title {
  width: auto;
  margin: 0 0 10% 18%;
}
@media (max-width: 500px) {
  .works .work-title {
    margin: 0 0 10% 5%;
  }
}
.works .work-title h1 {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .works .work-title h1 {
    font-size: 1.2rem;
    line-height: 35px;
  }
}
.works .work-title p {
  width: 70%;
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 30px;
}
@media (max-width: 500px) {
  .works .work-title p {
    font-size: 0.8rem;
    width: 95%;
  }
}
.works .work {
  width: auto;
  background: #191919;
  padding: 2% 2% 2% 2%;
  border-top: 1px solid #414141;
  border-bottom: 1px solid #414141;
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  .works .work {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 5%;
  }
}
.works .work h2 {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 0.5rem;
}
@media (max-width: 500px) {
  .works .work h2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
  }
}
.works .work p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 30px;
  padding-right: 2%;
}
.works .work .project-image {
  margin-top: 10%;
}
.works .work .project-image img {
  border: 1px solid #414141;
  padding: 10px;
  object-fit: cover;
  max-width: 600px;
  max-height: 400px;
  cursor: pointer;
  opacity: 0.5;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 500px) {
  .works .work .project-image img {
    max-width: 300px;
    filter: grayscale(0%);
    opacity: 1;
  }
}
.works .work .project-image img:hover {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  filter: grayscale(0%);
}
.works .work #web-logo {
  padding-top: 50px;
  max-width: 40px;
  max-height: 40px;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 500px) {
  .works .work #web-logo {
    display: none;
  }
}
.works .work #web-logo:hover {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.works .work .main-btn {
  width: 20%;
  background: #191919;
  border: 1px solid #414141;
  text-decoration: none !important;
  color: #414141;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
@media (max-width: 500px) {
  .works .work .main-btn {
    width: 50%;
    margin-top: 20px;
  }
}
.works .work .main-btn:hover {
  transition: 0.5s ease-in-out;
  border: 1px solid white;
  background: white;
  color: #191919;
}
.works .artwork {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .works .artwork {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.works .artwork img {
  border: 1px solid #414141;
  object-fit: cover;
  max-width: 250px;
  max-height: 350px;
  padding: 10px;
  margin: 20px 0px 20px 0px;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
.works .artwork img:hover {
  transition: all 0.3s ease-in-out;
  filter: grayscale(0%);
}
.works .main-btn-art {
  width: 20%;
  background: #191919;
  border: 1px solid #414141;
  text-decoration: none !important;
  color: #414141;
  margin: 50px auto;
  padding: 20px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
@media (max-width: 500px) {
  .works .main-btn-art {
    width: 64%;
  }
}
.works .main-btn-art:hover {
  transition: 0.5s ease-in-out;
  border: 1px solid white;
  background: white;
  color: #191919;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
