html {
  scroll-behavior: smooth;
  background: #0d0d0d;
}
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #0d0d0d;
}
html ::-webkit-scrollbar-thumb {
  background: white;
}
.border-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}
.border-wrapper .border {
  width: 16.6%;
  height: 100%;
  position: relative;
  display: inline-block;
  border-right: 1px solid #2a2a2a;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  animation: bordergrow 2s;
  animation-direction: alternate-reverse;
}
@keyframes bordergrow {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
.nav-placeholder .logo {
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 1200;
}
.nav-placeholder .logo img {
  width: 35px;
  height: 30px;
}
.nav-placeholder .nav-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 40px;
  border-bottom: 1px solid #2a2a2a;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40px;
}
@media (max-width: 500px) {
  .nav-placeholder .nav-title {
    display: none;
  }
}
.nav-placeholder .mobile-nav {
  position: fixed;
  right: 30px;
  top: 27px;
  width: 50px;
  height: 50px;
  display: flex;
  z-index: 997;
  justify-content: center;
  align-content: center;
  opacity: 1;
  cursor: pointer;
}
.nav-placeholder .mobile-nav span {
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
}
.nav-placeholder .mobile-nav span:nth-child(1) {
  top: 10px;
  width: 30px;
  position: absolute;
  height: 3px;
  background: white;
  mix-blend-mode: difference;
}
.nav-placeholder .mobile-nav span:nth-child(2) {
  transform-origin: right center;
  top: 20px;
  width: 20px;
  margin-left: 5px;
  position: absolute;
  height: 3px;
  background: white;
}
.nav-placeholder .mobile-nav span:nth-child(3) {
  top: 30px;
  width: 30px;
  position: absolute;
  height: 3px;
  background: white;
}
.nav-placeholder .mobile-nav:hover span:nth-child(2) {
  transform-origin: right center;
  top: 20px;
  width: 30px;
  margin-left: 0px;
  position: absolute;
  height: 3px;
  background: white;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(8, 8, 8, 0.945);
  -webkit-backdrop-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid #2a2a2a;
  width: 0%;
  height: 100%;
  overflow-x: hidden;
  transition: all 0.5s;
}
.overlay .closeBtn {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}
.overlay .closeBtn:hover {
  animation: spin 0.5s ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.overlay .overlay__content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 500;
}
@media (max-width: 800px) {
  .overlay .overlay__content {
    top: 10%;
  }
}
.overlay .overlay__content a {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 50px;
  font-size: 1.5rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 20px;
  transition: 0.3s ease-in-out;
}
.overlay .overlay__content a:hover:nth-child(1) {
  transition: 0.3s ease-in-out;
  color: #2ebb4e;
}
.overlay .overlay__content a:hover:nth-child(2) {
  transition: 0.3s ease-in-out;
  color: #0057ff;
}
.overlay .overlay__content a:hover:nth-child(3) {
  transition: 0.3s ease-in-out;
  background: -webkit-linear-gradient(#8b26ce, #fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.overlay .overlay__content a:hover:nth-child(4) {
  transition: 0.3s ease-in-out;
  color: #2798d4;
}
.overlay .page_n {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 15%;
  left: 47%;
}
@media (max-width: 1024px) {
  .overlay .page_n {
    left: 45%;
  }
}
@media (max-width: 800px) {
  .overlay .page_n {
    left: 35%;
    top: 10%;
  }
}
.overlay .page_n h3 {
  font-family: 'Roboto', sans-serif;
  color: #2a2a2a;
  font-size: 5.5rem;
  font-weight: 700;
  padding-top: 38px;
  opacity: 0.4;
}
.main-hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: inherit;
}
.main-hero img {
  width: 500px;
  height: 500px;
  display: flex;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-self: center;
  filter: brightness(1);
  opacity: 1;
  transition: 0.3s ease-in-out;
  animation: heroimg 3s ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes heroimg {
  from {
    bottom: 0;
  }
  to {
    bottom: -8%;
  }
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main-hero img:hover {
  filter: brightness(1.5);
}
.main-hero .hero-title {
  width: 500px;
  height: 100px;
  left: -30%;
  bottom: -10%;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  animation: herotitle 3s ease-in-out;
  animation-direction: alternate-reverse;
  opacity: 1;
}
@keyframes herotitle {
  from {
    bottom: -10%;
  }
  to {
    bottom: 2%;
  }
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 500px) {
  .main-hero .hero-title {
    width: 300px;
    left: 0%;
  }
}
.main-hero .hero-title h1 {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-shadow: 0px 0px 30px black;
  color: white;
  font-size: 2rem;
  letter-spacing: 4px;
}
@media (max-width: 500px) {
  .main-hero .hero-title h1 {
    font-size: 1.5rem;
  }
}
.main-hero .hero-title p {
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2.5px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 20px;
  text-shadow: 0px 0px 30px black;
}
@media (max-width: 500px) {
  .main-hero .hero-title p {
    font-size: 0.8rem;
    line-height: 25px;
  }
}
.main-hero .main-btn {
  position: absolute;
  left: 39%;
  top: 80%;
  width: 20%;
  background: #0d0d0d;
  border: 1px solid #292929;
  margin-top: 40px;
  padding: 20px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  color: #292929;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main-hero .main-btn a {
  color: #292929;
  text-decoration: none;
}
@media (max-width: 800px) {
  .main-hero .main-btn a {
    color: #292929;
  }
}
@media (max-width: 800px) {
  .main-hero .main-btn {
    width: 60%;
    padding: 15px 20px 15px 20px;
    border: 1px solid #292929;
    color: white;
  }
}
@media (max-width: 500px) {
  .main-hero .main-btn {
    left: 15%;
  }
}
.main-hero .main-btn:hover {
  transition: 0.3s ease-in-out;
  border: 1px solid white;
  background: white;
  color: #0d0d0d;
}
.scroll-next {
  width: auto;
  height: 180px;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}
.scroll-next a {
  text-decoration: none;
  color: inherit;
}
.scroll-next span {
  width: 1px;
  height: 100px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.scroll-next h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: white;
  transform-origin: center;
  transform: rotate(90deg);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 10px 0 0;
  padding-top: 0!important;
}
@media (max-width: 500px) {
  .scroll-next {
    display: none;
  }
}
.works {
  padding-top: 150px;
  position: relative;
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  background-image: url("../assets/images/angel.png");
  background-size: 50.3%;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .works {
    padding-top: 46px;
  }
}
@media (max-width: 500px) {
  .works {
    padding-top: 50px;
  }
}
.works .work-title {
  width: auto;
  margin: 0 0 7% 17%;
}
@media (max-width: 1024px) {
  .works .work-title {
    margin: 0 0 5% 16%;
  }
}
@media (max-width: 500px) {
  .works .work-title {
    margin: 0 0 10% 5%;
  }
}
.works .work-title h1 {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 10px;
  position: relative;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .works .work-title h1 {
    font-size: 1.2rem;
    line-height: 35px;
  }
}
.works .work-title h1 mark {
  background: none;
  color: #b41616;
}
.works .work-title p {
  width: 70%;
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 30px;
}
@media (max-width: 500px) {
  .works .work-title p {
    font-size: 0.8rem;
    width: 95%;
  }
}
.works .work {
  width: auto;
  background: #0d0d0d;
  padding: 2% 2% 2% 2%;
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  display: flex;
  flex-direction: row;
  margin-bottom: 7%;
}
@media (max-width: 1024px) {
  .works .work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .works .work {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 5%;
  }
}
.works .work h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 0.5rem;
}
.works .work h2 mark {
  background: none;
  color: #b41616;
}
@media (max-width: 1024px) {
  .works .work h2 {
    line-height: 30px;
  }
}
@media (max-width: 500px) {
  .works .work h2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
  }
}
.works .work p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 30px;
  padding-right: 2%;
}
@media (max-width: 500px) {
  .works .work .project-image {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
.works .work .project-image img {
  border: 1px solid #2a2a2a;
  padding: 10px;
  object-fit: cover;
  max-width: 600px;
  max-height: 400px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .works .work .project-image img {
    max-width: 1024px;
  }
}
@media (max-width: 800px) {
  .works .work .project-image img {
    max-width: 300px;
    opacity: 1;
  }
}
.works .work .project-image img:hover {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.works .work #web-logo {
  padding-top: 50px;
  max-width: 40px;
  max-height: 40px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .works .work #web-logo {
    display: none;
  }
}
@media (max-width: 500px) {
  .works .work #web-logo {
    display: none;
  }
}
.works .work #web-logo:hover {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.works .work .main-btn {
  width: 20%;
  background: #0d0d0d;
  border: 1px solid #2a2a2a;
  text-decoration: none !important;
  color: #2a2a2a;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .works .work .main-btn {
    width: 80%;
    margin: 30px auto;
  }
}
@media (max-width: 500px) {
  .works .work .main-btn {
    width: 83%;
    margin-top: 20px;
  }
}
.works .work .main-btn:hover {
  transition: 0.3s ease-in-out;
  border: 1px solid white;
  background: white;
  color: #0d0d0d;
}
.works .artwork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  grid-row-gap: 45px;
  border-top: 1px solid #2a2a2a;
  padding-top: 7%;
}
@media (max-width: 1024px) {
  .works .artwork {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .works .artwork {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.works .artwork #myImg {
  border: 1px solid #2a2a2a;
  object-fit: cover;
  width: 250px;
  height: 350px;
  padding: 10px;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .works .artwork #myImg {
    width: 100%;
    max-width: 280px;
    max-height: 350px;
  }
}
@media (max-width: 800px) {
  .works .artwork #myImg {
    width: 100%;
    max-width: 220px;
    max-height: 380px;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 500px) {
  .works .artwork #myImg {
    width: 100%;
    max-width: 290px;
    max-height: 400px;
    margin: 0px 0px 20px 0px;
  }
}
.works .artwork #myImg:hover {
  opacity: 1;
}
.works .main-btn-art {
  width: 20%;
  background: #0d0d0d;
  border: 1px solid #2a2a2a;
  text-decoration: none !important;
  color: #2a2a2a;
  margin: 50px auto;
  padding: 20px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .works .main-btn-art {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .works .main-btn-art {
    width: 64%;
  }
}
.works .main-btn-art:hover {
  transition: 0.3s ease-in-out;
  border: 1px solid white;
  background: white;
  color: #0d0d0d;
}
.footer {
  padding-top: 150px;
  position: relative;
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  background-image: url("../assets/images/angel_flipped.png");
  background-position-x: 101.4%;
  background-size: 50.3%;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .footer {
    padding-top: 46px;
  }
}
@media (max-width: 500px) {
  .footer {
    padding-top: 50px;
  }
}
.footer .contact {
  width: auto;
  margin: 0 0 7% 17%;
}
@media (max-width: 1024px) {
  .footer .contact {
    margin: 0 0 5% 16%;
  }
}
@media (max-width: 500px) {
  .footer .contact {
    margin: 0 0 10% 5%;
  }
}
.footer .contact h1 {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 10px;
  position: relative;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .footer .contact h1 {
    font-size: 1.2rem;
    line-height: 35px;
  }
}
.footer .contact p {
  width: 70%;
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 30px;
}
@media (max-width: 500px) {
  .footer .contact p {
    font-size: 0.8rem;
    width: 95%;
  }
}
.footer .contact a {
  text-decoration: none;
}
.footer .contact .main-btn-contact {
  width: 80%;
  display: flex;
  justify-content: center;
}
.footer .contact .main-btn-contact button {
  width: 35%;
  background: white;
  border: 1px solid white;
  text-decoration: none !important;
  color: #2a2a2a;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .footer .contact .main-btn-contact button {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .footer .contact .main-btn-contact button {
    width: 64%;
  }
}
.footer .contact .main-btn-contact button:hover {
  transition: 0.3s ease-in-out;
  border: 1px solid #2a2a2a;
  background: #0d0d0d;
  color: #2a2a2a;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
