.App {
  text-align: center;

  .general-links {
    text-decoration: none;
  }

  .navigation {
    position: relative;
    z-index: 999999999;
    display: flex;
    align-items: center;
    padding: 1% 0;
    border-bottom: 1px solid rgb(32, 32, 32);

    .logo {
      position: relative;
      z-index: 999999999;
      width: 5vh;
      margin-left: 2vh;
      margin-top: -1.4%;
      mix-blend-mode: difference;
    }

    .nav-title {
      margin: 0 auto;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 0.8rem;
      font-weight: 500;
      color: white;
    }

    .mobile-nav {
      right: 0;
      margin-right: 2vh;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }

    .top-mobile {
      display: inline-block;
      width: 40px;
      height: 4px;
      background: white;
      mix-blend-mode: difference;
    }
    .middle-mobile {
      display: inline-block;
      width: 30px;
      height: 4px;
      background: white;
      mix-blend-mode: difference;
      transition: all 0.2s ease-in-out;
    }
    .bottom-mobile {
      display: inline-block;
      width: 10px;
      height: 4px;
      background: white;
      mix-blend-mode: difference;
      transition: all 0.2s ease-in-out;
    }

    .mobile-nav:hover {
      .middle-mobile {
        width: 40px;
      }

      .bottom-mobile {
        width: 40px;
      }
    }
  }

  .home-container {
    overflow: hidden;

    .hero-content {
      position: absolute;
      z-index: 500;
      color: white;
      text-align: left;
      top: 40vh;
      left: 40vh;
      pointer-events: none;

      .hero-title {
        font-weight: 500;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
        color: white;
        font-size: 2rem;
        letter-spacing: 4px;
        pointer-events: none;
      }

      .hero-caption {
        color: white;
        letter-spacing: 2.5px;
        font-size: 1rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: 20px;
        text-shadow: 0px 0px 10px black;
        pointer-events: none;
      }
    }

    .hero-image-container {
      position: relative;
      z-index: 400;
      display: flex;
      flex-direction: column;

      .hero-image {
        position: relative;
        z-index: 400;
        width: 60vh;
        margin: 10vh auto 0;
        opacity: 0.8;
        transition: 0.2s ease-in-out;
      }

      .hero-image:hover {
        transition: 0.2s ease-in-out;
        opacity: 1;
      }

      .white-btn {
        position: relative;
        width: 28%;
        margin: 3% auto 0;
        padding: 1.5% 0;
        border: 1px solid white;
        outline: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.8rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      .white-btn:hover {
        background: rgb(32, 32, 32);
        border: 1px solid rgb(32, 32, 32);
        color: white;
      }
    }

    .scroll-down-container {
      position: absolute;
      z-index: 400;
      bottom: 0;
      right: 0;
      height: 200px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .scroll-down {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.8rem;
        letter-spacing: 4px;
        transform: rotate(90deg);
      }

      .scroll-line {
        display: block;
        width: 1px;
        height: 100px;
        background: white;
      }
    }

    .social-links {
      position: absolute;
      z-index: 600;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20vh;
      bottom: 5%;
      left: 2vh;
    }

    .border-grid {
      position: fixed;
      z-index: 1;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .border {
        height: 100vh;
        width: 1px;
        background: rgb(32, 32, 32);
        animation: borders 2s ease-in;
      }
    }

    @keyframes borders {
      from {
        height: 0vh;
      }
      to {
        height: 400vh;
      }
    }

    .break {
      position: relative;
      z-index: 200;
      margin-top: 6.5vh;
      display: flex;
      justify-content: flex-start;
      border-top: 1px solid rgb(32, 32, 32);
      border-bottom: 1px solid rgb(32, 32, 32);
      width: 100%;

      .angel {
        width: 42.8%;
        position: relative;
        left: 0;
        user-select: none;
      }

      .angel-flipped {
        width: 42.8%;
        position: relative;
        left: 57.2%;
        user-select: none;
        transform: scaleX(-1);
      }

      .break-title-left {
        position: absolute;
        margin-top: 15vh;
        left: 35vh;
        text-align: left;
        width: 65%;

        h1 {
          font-size: 2.8rem;
        }

        p {
          font-size: 1rem;
        }

        h1,
        p {
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }

      .break-title-right {
        position: absolute;
        margin-top: 15vh;
        left: 35vh;
        text-align: right;
        width: 65%;

        h1 {
          font-size: 2.8rem;
        }

        p {
          font-size: 1rem;
        }

        h1,
        p {
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }

      .break-title-center {
        position: absolute;
        margin-top: 5vh;
        left: 35vh;
        text-align: center;
        width: 65%;
        padding-bottom: 10vh;

        h1 {
          font-size: 2.8rem;
        }

        p {
          font-size: 1rem;
          padding-bottom: 3%;
        }

        h1,
        p {
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }

    .projects-container {
      position: relative;
      z-index: 500;
      width: 95%;
      margin: 0 auto;
      margin-top: 6vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;

      .project {
        width: 100%;
        position: relative;

        .project-image {
          width: 100%;
          height: 30vh;
          object-fit: cover;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          filter: brightness(40%);
        }

        .project-image:hover {
          filter: brightness(100%);
        }

        .project-info {
          position: absolute;
          z-index: 500;
          bottom: 10%;
          left: 5%;
          text-align: left;

          .project-title {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 900;
            margin: 0;
            letter-spacing: 5px;
          }

          .project-type {
            margin: 0;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 2px;
          }
        }
      }
    }

    .skill-set-containers {
      position: relative;
      z-index: 500;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 75%;

      .skill {
        padding: 5vh 2vh;
        .skill-name {
          color: white;
          text-transform: uppercase;
        }
      }
    }

    .contact {
      .break-title-center {
        position: absolute;
        z-index: 555;
        margin-top: 5vh;
        left: 35vh;
        text-align: center;
        width: 65%;
        padding-bottom: 10vh;

        h1 {
          font-size: 2.8rem;
        }

        p {
          font-size: 1rem;
          padding-bottom: 3%;
        }

        h1,
        p {
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }

      .contact-btn {
        width: 28%;
        padding: 2% 15%;
        background: white;
        border: 1px solid white;
        color: rgb(32, 32, 32);
        outline: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.8rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      .contact-btn:hover {
        background: rgb(32, 32, 32);
        border: 1px solid rgb(32, 32, 32);
        color: white;
      }
    }
  }

  .center {
    z-index: 500;
    user-select: none;
    color: white;
    width: 95%;
    margin: 4vh auto 0;
  }

  .art-image {
    width: 58vh;
    height: 80vh;
    object-fit: cover;
  }
}
